body {
    background-size: cover;
    font-family: -apple-system,
    font-weight: bold;
    text-align: center;
    background-color: darkcyan;
    border: 10px groove aliceblue;
    margin: auto;
    width: 350px;
    padding: auto;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: aliceblue;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: aqua
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: purple;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 21px;
}

#increment-btn {
    background-color: aliceblue;
    color: darkblue;
}

#save-btn {
    background: darkblue;
    color: aliceblue;
    
}
p {
    font-weight: bold;
    color: aliceblue
}